{% extends "base.html" %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-card">


    <h2 class="login-title">Nueva Contraseña</h2>
    <form method="POST">


      <label for="password">Nueva Contraseña:</label><br>




      <input type="password" name="password" id="password" placeholder="Nueva contraseña" required><br><br>

        <!-- Campo oculto para enviar el token al backend -->
      <input type="hidden" name="token" value="{{ token }}">



      <button type="submit" class="login-btn">Actualizar Contraseña</button>
    </form>
  </div>
</div>
{% endblock %}
